<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Authentication</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <div *ngIf="!auth.isAuthenticated()">
      <span class="pull-right user-form">
        <input #user type="email" placeholder="Email" name="user"/>
        <input #password type="password" placeholder="Password" name="password"/>
      </span>
      <span>
      <a (click)="onSignup(user.value, password.value)" class="pull-right login">
        Signup
      </a>
      <a (click)="onLogin(user.value, password.value)" class="pull-right login">
        Login
      </a>
      </span>
    </div>
    <div *ngIf="auth.isAuthenticated()">
      Welcome back!
      <a (click)="onLogout()" class="pull-right login">
        Logout
      </a>
    </div>
  </div>
</nav>